{{/*
================================================
create database::=
CREATE DATABASE [ database ]
  {   USER SYS IDENTIFIED BY password
    | USER SYSTEM IDENTIFIED BY password
    | CONTROLFILE REUSE
    | MAXDATAFILES integer
    | MAXINSTANCES integer
    | CHARACTER SET charset
    | NATIONAL CHARACTER SET charset
    | SET DEFAULT { BIGFILE | SMALLFILE } TABLESPACE
    | database_logging_clauses
    | tablespace_clauses
    | set_time_zone_clause
    | [ BIGFILE | SMALLFILE ] USER_DATA TABLESPACE tablespace_name
        DATAFILE datafile_tempfile_spec [, datafile_tempfile_spec ]...
    | enable_pluggable_database
  }... ;

database_logging_clauses::=
{   LOGFILE [ GROUP integer ] file_specification(=redo_log_file_spec) [, [ GROUP integer ] file_specification(=redo_log_file_spec) ]...
  | MAXLOGFILES integer
  | MAXLOGMEMBERS integer
  | MAXLOGHISTORY integer
  | { ARCHIVELOG | NOARCHIVELOG }
  | FORCE LOGGING
  | SET STANDBY NOLOGGING FOR {DATA AVAILABILITY | LOAD PERFORMANCE}
};

tablespace_clauses::=
{   EXTENT MANAGEMENT LOCAL
  | DATAFILE        file_specification(=datafile_tempfile_spec) [, file_specification(=datafile_tempfile_spec) ]...
  | SYSAUX DATAFILE file_specification(=datafile_tempfile_spec) [, file_specification(=datafile_tempfile_spec) ]...
  | default_tablespace
  | default_temp_tablespace
  | undo_tablespace
}

default_tablespace::=
  DEFAULT TABLESPACE tablespace
    [ DATAFILE datafile_tempfile_spec ]
    [ extent_management_clause ]

default_temp_tablespace::=
  [ BIGFILE | SMALLFILE ] DEFAULT
  {   { TEMPORARY TABLESPACE }
    | { LOCAL TEMPORARY TABLESPACE FOR { ALL | LEAF } }  # No support local temp tbs
  } tablespace
  [ TEMPFILE file_specification(=datafile_tempfile_spec) [, file_specification(=datafile_tempfile_spec) ]...]
  [ extent_management_clause ]

undo_tablespace::=
  [ BIGFILE | SMALLFILE ] UNDO TABLESPACE tablespace
    [ DATAFILE file_specification(=datafile_tempfile_spec) [, file_specification(=datafile_tempfile_spec) ]...]

set_time_zone_clause::=
  SET TIME_ZONE = '{ { + | - } hh : mi | time_zone_region }'
   
enable_pluggable_database::=
  ENABLE PLUGGABLE DATABASE
  [ SEED [ file_name_convert ]
         [ SYSTEM tablespace_datafile_clauses ]
         [ SYSAUX tablespace_datafile_clauses ]
  ]
  [ undo_mode_clause ]

file_name_convert::=
  FILE_NAME_CONVERT =
  {   (    'filename_pattern', 'replacement_filename_pattern'
        [, 'filename_pattern', 'replacement_filename_pattern' ]...
      )
    | NONE
  }

tablespace_datafile_clauses::=
  DATAFILES { SIZE size_clause | autoextend_clause }...

undo_mode_clause::=
  LOCAL UNDO { ON | OFF }
------------------------------------------------
*/ -}}
{{define "create_database" -}}
CREATE DATABASE {{with .database -}}"{{.}}"{{end}}
  {{with .sys_password}}USER SYS IDENTIFIED BY "{{.}}"{{end}}
  {{with .system_password}}USER SYSTEM IDENTIFIED BY "{{.}}"{{end}}
  {{with .controlfile_reuse}}CONTROLFILE REUSE{{end}}
  {{with .maxdatafiles}}MAXDATAFILES {{.}}{{end}}
  {{with .maxinstances}}MAXINSTANCES {{.}}{{end}}
  {{with .charset}}CHARACTER SET {{.}}{{end}}
  {{with .nscharset}}NATIONAL CHARACTER SET {{.}}{{end}}
  {{with .set_default_tablespace}}SET DEFAULT {{.}} TABLESPACE{{end}}
{{/* database_logging_clauses */}}
  {{with .logfile}}LOGFILE{{println ""}}{{range $i, $_ := .}}{{if $i}}{{println ","}}{{end}}    {{with .group}}GROUP {{.}}{{end}} {{template "redo_log_file_spec" .file_spec}}{{end}}{{end}}
  {{with .maxlogfiles}}MAXLOGFILES {{.}}{{end}}
  {{with .maxlogmembers}}MAXLOGMEMBERS {{.}}{{end}}
  {{with .maxloghistory}}MAXLOGHISTORY {{.}}{{end}}
  {{with .archivelog_mode}}{{.}}{{end}}
  {{with .force_logging}}{{.}}{{end}}
  {{with .standby_nologging}}SET STANDBY NOLOGGING FOR {{.}}{{end}}
{{/* tablespace_clauses */}}
  {{with .extent_management_local}}EXTENT MANAGEMENT LOCAL{{end}}
  {{with .system}}DATAFILE {{- range $i, $_ := .file_specs}}{{ if ne $i 0}},{{end}}
    {{template "datafile_tempfile_spec" .}}{{end}}{{end}}
  {{with .sysaux}}SYSAUX DATAFILE {{- range $i, $_ := .file_specs}}{{ if ne $i 0}},{{end}}
    {{template "datafile_tempfile_spec" .}}{{end}}{{end}}
  {{with .default_tablespace }}DEFAULT TABLESPACE {{.tbsname}}
    {{with .file_spec}}DATAFILE {{template "datafile_tempfile_spec" .}}{{end}}
    {{with .extent_management}}{{template "extent_management_clause" .}}{{end}}
  {{end -}}
  {{with .default_temp_tablespace }}{{with .filetype -}} {{.}}{{end}} DEFAULT TEMPORARY TABLESPACE {{.tbsname}}
    {{with .file_specs}}TEMPFILE {{- range $i, $_ := .}}{{ if ne $i 0}},{{end}}
    {{template "datafile_tempfile_spec" .}}{{end}}{{end}}
    {{with .extent_management}}{{template "extent_management_clause" .}}{{end}}
  {{end -}}
  {{with .undo_tablespace}}{{with .filetype -}} {{.}}{{end}} UNDO TABLESPACE {{.tbsname}}
    {{with .file_specs}}DATAFILE {{- range $i, $_ := .}}{{ if ne $i 0}},{{end}}
    {{template "datafile_tempfile_spec" .}}{{end}}{{end}}
  {{end -}}
-- **>> tablespace_clauses
  {{with .set_time_zone}}SET TIME_ZONE = '{{.}}'{{end}}
  {{with .user_data_tablespace}}{{with .filetype -}} {{.}}{{end}} USER_DATA TABLESPACE {{.tbsname}}
    {{with .file_specs}}DATAFILE {{- range $i, $_ := .}}{{ if ne $i 0}},{{end}}
    {{template "datafile_tempfile_spec" .}}{{end}}{{end}}
  {{end -}}
  {{template "enable_pluggable_database" .}}
{{end}}

{{define "enable_pluggable_database"}}
{{with .enable_pluggable_database}}
  ENABLE PLUGGABLE DATABASE
  {{with .seed}} SEED
    {{with .file_name_convert}}{{end}}
    {{- with .system}}SYSTEM {{template "tablespace_datafile_clause" .}}{{end -}}
    {{- with .sysaux}}SYSAUX {{template "tablespace_datafile_clause" .}}{{end -}}
  {{end -}}
  {{with .undo_mode}}LOCAL UNDO {{.}}{{end}}
{{end}}
{{end}}

{{define "tablespace_datafile_clause" -}}
  DATAFILE {{with .size}}{{.}}{{end}} {{with .autoextend}}{{template "autoextend_clause" .}}{{end}}
{{end}}
