{{/* ================ */ -}}
{{define "system_tbs" -}}
DATAFILE '{{.Path}}' SIZE {{.Size}} REUSE AUTOEXTEND {{.Autoextend}} NEXT  {{.Next}} MAXSIZE {{.Maxsize}}
EXTENT MANAGEMENT LOCAL
{{end -}}
{{/* ================ */ -}}
{{define "sysaux_tbs" -}}
SYSAUX
  DATAFILE '{{.Path}}' SIZE {{.Size}} REUSE AUTOEXTEND {{.Autoextend}} NEXT  {{.Next}} MAXSIZE {{.Maxsize}}
{{end -}}
{{/* ================ */ -}}
{{define "temp_tbs" -}}
SMALLFILE DEFAULT TEMPORARY TABLESPACE {{.Tbsname}}
  TEMPFILE '{{.Path}}' SIZE {{.Size}} REUSE AUTOEXTEND {{.Autoextend}} NEXT  {{.Next}} MAXSIZE {{.Maxsize}}
{{end -}}
{{/* ================ */ -}}
{{define "undo_tbs" -}}
SMALLFILE UNDO TABLESPACE "{{.Tbsname}}"
  DATAFILE  '{{.Path}}' SIZE {{.Size}} REUSE AUTOEXTEND {{.Autoextend}} NEXT  {{.Next}} MAXSIZE {{.Maxsize}}
{{end -}}
{{/* ================ */ -}}
{{define "user_tbs" -}}
CREATE SMALLFILE TABLESPACE "{{.Tbsname}}" LOGGING
  DATAFILE  '{{.Path}}' SIZE {{.Size}} REUSE AUTOEXTEND {{.Autoextend}} NEXT  {{.Next}} MAXSIZE {{.Maxsize}}
  EXTENT MANAGEMENT LOCAL  SEGMENT SPACE MANAGEMENT  AUTO;
{{end -}}
{{/* ================ */ -}}
{{define "tbs_common" -}}
  {{- if eq .Type "user" -}}
    {{- template "user_tbs" . -}}
  {{- else if eq .Type "temp" -}}
    {{- template "temp_tbs" . -}}
  {{- else if eq .Type "undo" -}}
    {{- template "undo_tbs" . -}}
  {{- end -}}
{{end -}}
{{/* ================ */ -}}
