{{/* ================ */ -}}
{{define "create_tablespace" -}}
  {{- if or (eq .Type "perm") (eq .Type "user") -}}
    {{- template "create_perm_tbs" . -}}
  {{- else if eq .Type "temp" -}}
{{/*    {{- template "create_temp_tbs" . -}} */ -}}
  {{- else if eq .Type "undo" -}}
{{/*    {{- template "create_undo_tbs" . -}} */ -}}
  {{- end -}}
{{end -}}
{{/* ================ */ -}}
{{define "create_perm_tbs" -}}
CREATE {{template "tbs_filetype" . -}} TABLESPACE "{{.Tbsname}}" LOGGING
  DATAFILE {{template "dataf_tempf_specs" .Dbfs }}
  EXTENT MANAGEMENT LOCAL  SEGMENT SPACE MANAGEMENT  AUTO;
{{end -}}
{{/* ================ */ -}}
{{define "tbs_filetype" -}}
{{with .Filetype -}} {{if eq . "big" -}} BIGFILE {{else if eq . "small" -}} SMALLFILE {{else -}} "*err" {{end -}} {{end -}}
{{end -}}
{{/* ================ */ -}}
{{define "dataf_tempf_spec" -}}
'{{.Path}}' SIZE {{.Size}} REUSE {{template "autoextend_clause" . -}}
{{end -}}
{{/* ================ */ -}}
{{define "dataf_tempf_specs" -}}
{{range . -}}
'{{.Path}}' SIZE {{.Size}} REUSE {{template "autoextend_clause" . }}
{{end -}}
{{end -}}
{{/* ================ */ -}}
{{define "autoextend_clause" -}}
AUTOEXTEND {{if eq .Autoextend "ON" -}} ON NEXT {{.Next}} {{template "maxsize_clause" . -}} {{else if eq .Autoextend "OFF" -}} OFF {{else -}} "*err" {{end -}}
{{end -}}
{{/* ================ */ -}}
{{define "maxsize_clause" -}}
{{with .Maxsize -}} MAXSIZE {{if eq . "UNLIMITED" -}} UNLIMITED {{- else -}} . {{end -}} {{end -}}
{{end -}}
{{/* ================ */ -}}
